/*Specific class body for library*/
.library-app-body {
  color: white;
  font-weight: 100;
  text-align: left;
  background-image:url("../img/background.png");
  background-color: #000;
  margin: 0px 15px 0px 15px;
}

/*SEARCH BAR*/
#search-bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px;
  background: #421e3ebf;
  z-index: 100;
}
#search-bar input {
  width: 75%;
  padding: 5px;
  font-size: 17pt;
}
.search-bar-button {
  border: 2px solid #f0ffff;
  border-radius: 2px;
  color: #ffffff;
  text-decoration: none;
}
.search-button {
  width: 20%;
  background-color: #2d60a7;
}
.search-button:active, .close-button:active {background: #421E3E;}
/*END SEARCH BAR*/

#content {margin: 80px 0px 40px 0px;}

/*ERROR*/
#error {text-align: center; font-size: 19pt;}
#error span {font-size: 25pt;}
#error img {width:50%;}
/*END ERROR*/

/*Card*/
img {
  width: 100%;
}

/*Scryfall button link*/
#card-link {
  text-align: center;
  margin: 45px 15px;
}
.scryfall-link {
  background: #421E3E;
  color: white;
  padding: 7px 15px;
  text-decoration: none;
  border: 2px solid white;
}
/*Scryfall button link*/

/*LEGALITIES*/
.lgl {color: white;padding: 1px 3px; text-align: center;}
.notlegal {background: gray;}
.banned {background: red;}
.restricted {background: #80A7B6;}
.legal {background: #75986E;}

#card-legality {
  display: flex;
  justify-content: center;
}
#card-legality p {
  margin: 0 0 2px 0;
  display: flex;
}
#card-legality span {
  width: 70px;
}
#card-legality div {
  margin-right: 15px;
}
/*END LEGALITIES*/

/*split mana*/
.mi-split {
  color: black;
}

/*Back Button*/
#back-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  opacity: 0.8
}

.flip-text {
  text-align: center;
  margin: 0;
  font-style: italic;
}