body {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;

  /*Can't select text*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Color selector*/
#color {
  display: flex;
  justify-content: space-evenly;
}
#color img{
  width: 35px;
  border-radius: 100px;
  opacity: .7;
  border: 5px solid rgba(0, 0, 0, 0);
}
.color_selected {
  border: 5px solid white !important;
  opacity: 1 !important;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.color_selected_white {
  border: 5px solid black !important;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


/*BACKGROUND COLORS*/
.white {background: #ffffdd; color: black; transition: all 0.5s;}
.blue  {background: #378bc6;  color: #ffffdd; transition: all 0.5s;}
.black {background: black; color: #ffffdd; transition: all 0.5s;}
.red   {background: #af1d1d;   color: #ffffdd;transition: all 0.5s;}
.green {background: #5bd387; color: #ffffdd;transition: all 0.5s;}

/*Life Counter*/
#counter {
  margin: 40px 0px;
}
#life {
  font-size: 12em;
  line-height: .7em;
  margin: 50px 0;
}
.button {
  font-size: 10em;
  line-height: 120px;
}

/*Other Counters*/
#oc {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 0 35px 0;
  font-size: 50pt;
}
.oc_text {
  font-size: 17pt;
  font-weight: 200;
}
.oc_num {
  line-height: 60px;
}

/*DICES*/
#dices {
  margin-top: 50px;
}
#dices4_8, #dices10_20 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 0;
  height: 150px;
}
#dices4_8 p, #dices10_20 p {
  margin: 0;
  font-size: 17pt;
  font-weight: 200;
}
#dices4_8 div, #dices10_20 div, #dices4_8 div span, #dices10_20 div span {
  width:90px;
}
#dices4_8 div img, #dices10_20 div img  {
  width: 100%;
}
#dices4_8 span, #dices10_20 span {
  font-size: 48pt;
}

/*RESET BUTTON*/
.resetbtn {
	background-color:#a73f2d;
	color:#ffffff;
	font-size:17pt;
	padding:9px 23px;
	text-decoration:none;
}
